*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden ;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: defaultAnimation 20s infinite alternate; 
    min-width: 320px;
    height: auto;
}
.loader {
    width: 50px;
    height: 50px;
    border: 5px solid #ccc;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    display: none; 
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
     transition: opacity 0.3s ease-in-out;
}
.scrollContent {
    opacity: 0;
    transform: scale(0.8) translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.show {
    opacity: 1;
    transform: scale(1) translateY(0);
}


@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.imageModal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.932);
    z-index: 1000;
    opacity: 0; 
    transform: scale(0.9); 
    transition: opacity 0.3s ease, transform 0.3s ease; 
    pointer-events: none; 
}

.imageModal.hidden {
    opacity: 0;
    transform: scale(0.9);
    pointer-events: none;
}
.imageModal:not(.hidden) {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto; 
}

.modalContent {
    max-width: 90%;
    max-height: 90%;
    border: 2px solid white;
}

.closeModal {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    color: white;
    cursor: pointer;
}
.closeModal:hover{
    color: tomato;
    transition: .2s ease-in-out;
}



.raindrop {
    position: absolute;
    width: 5px;
    height: 10px;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0.7;
    animation: rainFall 3s linear infinite;
    clip-path: polygon(50% 0%, 80% 30%, 100% 70%, 50% 100%, 0% 70%, 20% 30%);
    
}
.background{
    position: absolute;
    overflow: hidden;
    z-index: -100;
    width: 100%;
    background-size: 400% 400%;
    height: 100vh;
    transition: height 0.5s ease-in-out;
}
@keyframes rainFall {
    0% {
        top: -50px;
        opacity: 0.8;
    }
    100% {
        top: 200vh;
        opacity: 0.2;
    
    }
}
@keyframes defaultAnimation {
    0% {
        background: linear-gradient( 45deg, #1e90ff, #87ceeb); 
    }
    50% {
        background: linear-gradient( 45deg,#87ceeb ,#1e90ff ); }
    100% {
        background: linear-gradient( 45deg, #1e90ff, #87ceeb); 
    }
}
.snowflake {
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    position: absolute;
    animation: snowflake-fall 3s linear infinite;
}
@keyframes snowflake-fall {
    from { transform: translate(0, 0); }
    to { transform: translate(20vw, 100vh)}
}

.leaf {
    width: 15px;
    height: 15px;
    background: green;
    position: absolute;
    animation: leaf-fall 3s linear infinite;
    border-radius: 84% 0% 60% 42% / 68% 40% 67% 0%;
}
@keyframes leaf-fall {
    from { transform: translateY(0); }
    to { transform: translateY(200vh) rotate(5deg) }
}

.sunbeam {
    width: 5px;
    height: 5px;
    background: yellow;
    position: absolute;
    animation: sunbeam-rise 3s linear infinite;
    border-radius: 50%;
}
@keyframes sunbeam-rise {
    from { transform: translateY(0); }
    to { transform: translateY(-200vh); }
}

.heatwave {
    width: 15px;
    height: 15px;
    background: red;
    border-radius: 50%;
    position: absolute;
    animation: heatwave-expand linear infinite ;
}
@keyframes heatwave-expand {
    from { transform: scale(0.5); }
    to { transform: scale(1.3); }
}


.container{
    height: auto;
    padding: 10px;
    overflow: scroll;
    
}
.page1{
    position: relative;
    overflow: hidden;
    height: 100vh;
    padding: 30px;
}
.container::-webkit-scrollbar{
    display: none;
}


.inputs{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,50%);
    width: clamp(100px,70vw, 400px);
    display: flex;
    justify-content: center;
    height: 50px;
    z-index: 100;
    border-radius: 5px;
    
}
.inputs input{
    width: 80%;
    background-color: rgba(240, 248, 255, 0.354);
    border: none;
    padding-left: 10px;
    color: white;
    border-radius: 5px 0 0 5px;

}
.inputs button{
    width: 20%;
    cursor: pointer;
    border: none;
    background-color: lightblue;
    transition: .3s;
    position: relative;
}
.inputs .inputLabel{
    position: absolute;
    left: 10px;
    top: 25%;
    pointer-events: none;
    transition: .5s;
    opacity: 1;
    font-size: clamp(15px,3vw,20px);
}
.inputs input:focus ~ .inputLabel, .inputs input:valid ~ .inputLabel,
.validInput input:focus ~ .inputLabel, .validInput input:valid ~ .inputLabel{
    top: -24px;
    font-size: clamp(15px,3vw,20px);
    border-radius: 5px;
}
h1{
    text-align: center;
    font-size: clamp(20px, 6vw, 60px);
}
@keyframes animateInputs {
    0%{
        opacity: 0;
    }
    100%{
        top: 10%;
        opacity: 1;
    }
}
.validInput{
    animation:  animateInputs .5s forwards;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,50%);
    width: clamp(100px,70vw, 400px);
    display: flex;
    justify-content: center;
    height: clamp(30px,5vh, 55px);
    z-index: 9999;
    border-radius: 5px;
}
.validInput input{
    width: 80%;
    background-color: rgba(240, 248, 255, 0.354);
    border: none;
    padding-left: 10px;
    color: white;
}
.validInput button{
    width: 20%;
    cursor: pointer;
    border: none;
    background-color: lightblue;
    transition: .3s;
    position: relative;
}

.validInput .inputLabel{
    position: absolute;
    left: 10px;
    top: -20px;
    pointer-events: none;
    transition: .5s;
}
.validInput input:valid .inputLabel{
    top: -25px;
}
input:valid, input:focus{
    background-color: rgba(240, 248, 255, 0.354);
}
.searchResultsContainer{
    position: absolute;
    width: 100%;
    top: 20%;
    height: 75vh;
    margin: 0 auto;
    left: 0;
    display: flex;
    padding:0 10px;
    justify-content: space-around
}
.weatherContainer{
    width: 40%;
    height: auto;
    backdrop-filter: blur(1px);
    justify-content: center;
    opacity: 1;
    padding-top: 30px;
    
}
#location{
    text-align: center;
    margin: 20px 0;
    font-size: clamp(15px, 5vw, 30px);
}
 
.thumbnails {
    position: absolute;
    bottom: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 100%;
    height: clamp(150px, 20vh, 400px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 0 auto;
    overflow-x: auto;
    padding: 5px 0px;
    z-index: 99;
    overflow: scroll none;
    
}

.thumbnails img{
    width:5%;
    height: 75%;
    object-fit: cover;
    border-radius: 5px;
    transition: .2s;
    
}
.imgContainer{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding:0 10px;
    opacity: 0;
    justify-content: center; 
}
.largeImg{
    object-fit: cover;
    height: clamp(350px, 55vh, 1400px);
    width: 100%;
    border-radius: 15px;
    transition: opacity .3s ease-in-out, filter .3s ease-in-out,
        transform .3s ease-in-out;   
}
.largeImg:hover{
    cursor: pointer;
}
.largeImg.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: scale(1.05);
}
.largeImgContainer{
    width: 100%;
    max-width: 800px;
    height: 100%;
    position: relative;
    justify-self: center;
}
.thumbnails img:hover{
    transform: scale(1.15);
    cursor: pointer;
    z-index: 99;
    filter: brightness(130%);
}
.thumbnails img:hover + img{
    transform: scale(1.05);
    filter: brightness(110%);
}
img:has(+img:hover){
    transform: scale(1.05);
    filter: brightness(110%);
}
.imgContainer .seeMore{
    position: absolute;
    top: 20px;
    right: 5%;
    text-decoration: underline;
    transition: .2s;
    display: block;
    z-index: 0;
   
}
.seeMore.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: scale(1.05);
}

.imgContainer .seeMore svg{
    width: clamp(15px, 7vw, 80px);
    height: clamp(15px, 7vh, 80px);
    opacity: .5;
}
.imgContainer .seeMore svg:hover{
    opacity: 1;
}
.imgContainer .largeImg:hover ~ p{
    display: block;
    z-index: 9999 ;
}
.imgContainer .seeMore:hover{
    cursor: pointer;
    transform: scale(1.1);
    color: red;
    z-index: 9999;
}

.weatherContainer div{
    text-align: center;
}
.weatherCondition{
    font-size: clamp(15px, 5vw, 30px);
}
.weatherIcon{
    height: 50px;
    object-fit: cover;
    animation: weatherIconAnimation 3s 1.5s ease-in-out infinite alternate;
    
}
.temp{
    font-size: clamp(10px, 5vw, 25px);
}

.locationContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.locationContainer img{
    animation:none;
    opacity: 0;
    width: clamp(px, 5vw, 30px);
    height: clamp(20px, 5vw, 30px);
}
.imageDescription{
    position: absolute;
    bottom: 30%;
    left: 5%;
    background-color: rgba(255, 255, 255, 0.166);
    backdrop-filter: blur(100px);
    padding: 5px;
    animation: fadeInDescription 0.5s ease-in-out;
    width: 0;
    opacity: 0;
    transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s ease-in-out;
}
.imageDescription.active {
    width: auto;
    opacity: 1;
    transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s ease-in-out;
}
@keyframes fadeInDescription {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes infoContainerAnimation {
    0%{
        opacity: 0;
        transform: translateY(-100px);
    } 
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes weatherIconAnimation {
    0% {
        opacity: 0.6;
        transform: scale(1);
    }
    25%{
        opacity: .6;
        transform: scale(1.15);
    }
    50% {
        opacity: 0.8;
        transform: scale(1.3);
    }
    75%{
        opacity: .9;
        transform: scale(1.4);
    }
    100% {
        transform: scale(1.5);
        opacity: 1;
    }
}
@keyframes locationAnimation {
    0% {
        transform: translateY(0);
        opacity: 0.5;
    }
    50% {
        transform: translateY(-4px);
        opacity: 0.8;
    }
    100% {
        transform: translateY(-9px);
        opacity: 1;
    }
}

.weatherContainer a{
    text-decoration: none;
    z-index: 999;
}
.weatherContainer a:visited{
    color: black;
}
.detailedWeatherBtn::before, button::before{
    background-color: deepskyblue;
    height: 100%;
    width: 0;
    position: absolute;
    z-index: -1;
    content: "";
    top: 0;
    left: 0;
    transition: .3s;
    border-radius: 5px;
}
.detailedWeatherBtn:hover::before, button:hover::before{
    width: 100%;
}

/*PAGE 2*/

.detailedWeatherBtn {
    display: none;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: lightblue;
    color: white;
    font-size: clamp(10px, 3vw, 20px);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease;
    z-index: 999;
    position: relative;
}
.detailedWeatherBtn:hover {
    color: white;
}
.fade-in {
  animation: fadeIn 1s ease-out forwards; 
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
.results {
  opacity: 0; 
  animation: fadeIn 1s ease-out forwards; 
}
.detailedWeatherSection {
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    margin: 20px;
    color: black;
    height: 90vh;
    max-width: 600px;
    margin:  20px auto;
   
}

.weatherDetails {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.detail {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.forecast h3 {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}
.detailedWeatherSection h2{
    text-align: center;
    margin-bottom: 20px;
}

#forecastList {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

#forecastList li {
  
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    align-items: center;
}
.forecastIcon{
    width: 60px;
    height: 60px;
    animation: weatherIconAnimation 3s 1.5s ease-in-out infinite alternate;
    align-self: center;
}
.date,.temp{
    font-size: 30px;
}
@media (max-width: 1024px) {
    .weatherContainer {
        width: 60%;
    }

    .thumbnails img {
        width: 15%;
        height: 60%;
    }

    .temp {
        font-size: 35px;
    }
}

@media (max-width: 768px) {
    .weatherContainer {
        width: 80%;
        padding-top: 20px;
    }

    .temp {
        font-size: 30px;
    }

    .thumbnails {
        width: 90%;
    }

    .thumbnails img {
        width: 18%;
        height: 55%;
    }
}

@media (max-width: 480px) {
    .weatherContainer {
        width: 100%;
        padding-top: 10px;
    }

    .temp {
        font-size: 24px;
    }

    .thumbnails img {
        width: 25%;
        height: 50%;
    }

    .largeImg {
        height: 60%;
    }
}

@media (max-width: 320px) {
    .weatherContainer {
        width: 100%;
    }

    .temp {
        font-size: 20px;
    }

    .thumbnails img {
        width: 30%;
        height: 45%;
    }

    .largeImg {
        height: 50%;
    }
}
@media (max-width: 480px){
    .largeImg {
        height: 55vh;
    }
}
